*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(./assets/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

#container {
    border: 1px solid lightblue;
    width: 360px;

    margin: auto;

}

#profile {
    border: 1px dashed lightblue;
    height: 192px;
    width: auto;
    padding: 24px;

    text-align: center;
    display: block;
}

#profile img {
    border: 1px dashed lightblue;
    height: 112px;
    width: 112px;

    display: block;
    margin: auto;
}

p {
    color: white;
    margin-top: 8px;
}

#switch {
    border: 1px dashed lightblue;
    height: 40px;
    width: 64px;

    display: block;
    margin: auto;
}