*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(./assets/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

#container {
    border: 1px solid lightblue;
    width: 100%;
    max-width: 588px;
    min-width: 320px;

    margin: 56px auto 0px;
    padding: 0 24px;

}

#profile {
    border: 1px dashed lightblue;
    height: 192px;
    width: auto;
    padding: 24px;

    text-align: center;
    display: block;
}

#profile img {
    border: 1px dashed lightblue;
    height: 112px;
    width: 112px;

    display: block;
    margin: auto;
}

p {
    color: white;
    margin-top: 8px;
}

#switch {
    border: 1px dashed lightblue;
    height: 40px;
    width: 64px;

    display: block;
    margin: auto;
}

ul {
    border: 1px dashed lightblue;
    height: 320px;
    padding: 24px;

    list-style: none;

}

li {
    border: 1px dashed lightblue;
    height: 56px;

    margin-bottom: 16px;

}

#links {
    border: 1px dashed lightblue;
    height: 88px;
}

footer {
    border: 1px dashed lightblue;
    height: 72px;
}